/* .searchForm {
  background-image: url(https://demo2.cybersoft.edu.vn/static/media/search.fb399e91.png);
  background-position: 5px;
  width: 100%;
  background-size: 30px;
  background-repeat: no-repeat;
  position: absolute;
} */

/* .searchForm::placeholder {
  position: absolute;
  left: 30px;
} */

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}

.card:hover .overlay {
  opacity: 1;
}
